{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}
{% block h1 %} Liste des livres : {% endblock %}

{% block body %}

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Catégorie</th>
        <th>Action</th>
    </tr>
   
    {% for livre in livres %}
        <tr>
            <td>{{ livre.id }}</td>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.auteur }}</td>
            <td>{{ livre.categorie ? livre.categorie.titre : "" }}</td>
            <td>
            {# path() retourne l'url relative basée sur la route dont on passe le nom en param (le name) #}
                <a href="{{ path("livre_modifier", {id: livre.id}) }}"><i class="fa fa-edit"></i></a>
                <a href="{{ path("livre_supprimer", {id: livre.id}) }}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
    <tfoot>
        <th colspan=2> Nombre de livres :</th>
        <td>{{livres|length}}</td>
    </tfoot>
    
</table>
{% endblock %}
