{% extends "base.html.twig" %}

{% block body %}
<ul>
<li>Les calculs ont été demandé avec les chiffres : {{n1}} et {{n2}}</li>
<li>Addition : {{ n1 + n2 }}</li>
<li>Soustraction : {{ n1 - n2 }}</li>
<li>Multiplication : {{ n1 * n2 }}</li>
{% if n2 == 0 %}
<li>Division par 0 impossible</li>  
{% else %}
<li>Division : {{ n1 / n2 }}</li>
{% endif %}

</ul>
{% endblock %}