{% extends "base.html.twig" %}

{% block body %}
<ul>
<li>Les calculs ont été demandé avec les chiffre : {{n1}} et {{n2}}</li>
<li>Voici le résultat de l'addition : {{ addition }}</li>
<li>Voici le résultat de la soustraction : {{ soustraction }}</li>
<li>Voici le résultat de la multiplication : {{ multiplication }}</li>
<li>Voici le résultat de la division : {{ division }}</li>
</ul>
{% endblock %}